$button-purple: #635FC7;
$background-gray: #A8A4FF;
$black: #000112;
$ver-dark-gray: #20212C;
$dark-gray: #2B2C37;
$gray: #3E3F4E;
$light-gray: #828FA3;
$very-light-gray: #E4EBFA;
$extremely-light-gray: #F4F7FD;
$white: #FFFFFF;
$red: #EA5555;
$pink: #FF9898;

body {
    margin: 0;

    font-family: 'PlusJakartaSans', sans-serif;
    color: $black;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: 35%;
    z-index: 1;
}

.overlay-menu-container {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.overlay-menu {
    margin: 4rem 1rem;
    padding: 1.5rem;

    background-color: $white;
    border-radius: .5rem;

    max-height: 75vh;
    overflow-y: scroll;

    * {
        margin: 0;
    }

    h2 {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label, p {
        margin-block-start: 1.5rem;

        color: $gray;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    textarea, input, select {
        margin-block-start: .5rem;

        border: 2px solid $light-gray;
        border-radius: .3rem;
        width: 100%;
        box-sizing: border-box;

        padding: .5rem 1rem;

        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4375rem;
    }

    input {
        height: 2.5rem;
    }

    textarea {
        height: 7rem;
    }

    textarea:focus, input:focus, select:focus {
        outline: none;
        border: 2px solid $button-purple;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;

        margin-block-start: .5rem;

        input {
            margin: 0;
        }

        button {
            border: none;
            margin: 0;
            background-color: unset;
        }
    }

    button {
        margin-block-start: 1.5rem;
        border-radius: 1.25rem;
        height: 2.5rem;
        border: none;
        background-color: $very-light-gray;
        color: $button-purple;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4375rem;
    }

    .submit-button {
        background-color: $button-purple;
        color: $white;
    }
}

header {
    box-sizing: border-box;
    padding: 0 1rem;

    height: 4rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $white;

    .header-left {
        display: flex;
        align-items: center;

        h1 {
            margin-inline-start: 1rem;
        }

        h1 + img {
            margin-inline-start: .4rem;
        }
    }

    .header-right {
        display: flex;
        align-items: center;

        button {
            padding: auto;
            background-color: $button-purple;
            border-radius: 1.4rem;
            width: 3rem;
            height: 2rem;
            border: none;
        }

        button + button {
            padding: 0;
            background-color: unset;
        }
    }

    h1 {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

main {
    padding: 0 1rem;
    box-sizing: border-box;

    display: flex;
    overflow-x: hidden;

    background-color: $extremely-light-gray;

    section + section {
        margin-inline-start: 1.5rem;
    }
}

.empty-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty {
    margin-block-start: 13.9rem;
    text-align: center;
}

.task-column {
    width: 75vw;
    flex-shrink: 0;

    h3 {

        display: flex;
        align-items: center;

        color: $light-gray;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.15rem;

        margin-top: 1.5rem;
        margin-bottom: 0;

        > * + *{
            margin-inline-start: .19rem;
        }
    }

    h3 > div {
        border-radius: 50%;
        height: .93rem;
        width: .93rem;
        background-color: $button-purple;
    }

    article {
        margin-block-start: 1.5rem;
    }

    > div > article {
        height: 5.5rem;

        width: 100%;
        padding: 1.44rem 1rem;
        box-sizing: border-box;
        
        border-radius: .5rem;
        box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
        background-color: $white;

        > h2 {
            margin: 0;

            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        > p {
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            color: $light-gray;
        }
    }

    > article + article {
        margin-block-start: 1.25rem;
    }
}

.task-column + .task-column {
    margin-inline-start: 1.5rem;
}